.form_style {
    background: #4C4C4A;
    height: 300px;
}

.login_logo {
    margin-top: 30px;
}

.login_form {
    top: 50px;
    margin-left: 25px;
}

.login_submit {
    top: 30px;
}

.login_button {
    width: 100%;
}

.login_center {
    margin-top: 100px;
}

.login_center_right {
    margin-left: 100px;
}

.login_center_left {
    margin-right: 50px;
    margin-bottom: 50px;
}

.login_fail {
    width: 306px;
    height: 30px;
    background: #DE2449;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    display: none;
}

.register_center_right {
    margin-left: 100px;
}

#university option {
    font-weight: bold;
    font-size: 18px;
}

.register_center_left {
    margin-right: 50px;
    margin-bottom: 50px;
}

.register_success {
    width: 360px;
    height: 30px;
    background: #DE2449;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    display: none;
}

.get_password {
    width: 500px;
    height: 30px;
    /* background: green;*/
    margin-top: 20px;
    color: green;
    font-size: 18px;
    font-weight: bold;
    display: none;
}

/*-------------头部--------------*/
.top_logo {
    margin-top: 25px;
    float: left;
}

.top_university {
    margin-top: 25px;
    margin-left: 20px;
    float: left;
}

#belong_university span {
    font-weight: bold;
    font-size: 18px;
}

.top_search {
    margin-top: 50px;
}

.top_search input {
    border: 3px solid #2BB8AA;
    line-height: 30px;
    border-radius: 15px;
}

.top_search button {

    line-height: 30px;
    background: #2BB8AA;
    color: white;
    font-weight: bold;
}

.message {
    margin-top: 50px;
}

.personal_avatar {
    margin-top: 40px;
    float: right;
}

.look_all_message {
    text-align: center;
}

.look_all_message a {
    color: white;
    font-weight: bold;
    text-align: center;
}

.message_div {
    position: absolute;
    display: none;
}

.message_div div {
    text-align: right;
}

.personal_center {
    position: absolute;
    list-style: none;
    background: #F6F6F6;
    padding-left: 0px;
    display: none;
    width: 100px;
}

.personal_center li {
    border: 1px solid #F6F6F6;
    line-height: 40px;
}

.personal_center li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.release_buy_goods {
    float: right;
    margin-top: 50px;
}

.release_buy_goods span {
    font-size: 30px;
    color: #2BB8AA;
    cursor: pointer;
}
#release_and_buy{
    position: absolute;
    margin-top: 84px;
    display: none;
}

/*侧边栏样式*/
#sidebar {
    padding-top: 40px;
    width: 60px;
    position: absolute;
    left: 0;
    background-color: #e1e1e1;
    min-height: 100%;
    z-index: 100;
    display: none;
}

.item {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.item div {
    font-size: 12px;
}
#closeBar {
    text-align: center;
    position: absolute;
    bottom: 110px;
    width: 35px;
    cursor: pointer;
    padding-left: 20px;
}

.nav-content {
    position: absolute;
    min-height: 100%;
    width: 170px;
    background-color: #e1e1e1;
    opacity: 0;
    z-index: 99;
    text-align: center;
}

.nav-content .nav-con-close {
    float: right;
    cursor: pointer;
    padding-top: 5px;
    padding-right: 5px;
}
